.simple-var-tile-div {
  width: inherit;
  background-color: #fbe9e7;
  border-radius: 10px;
  display: flex;
  margin: 1px 9%;
  padding: 0;
  align-items: flex-start;
  flex-flow: row wrap;
}
/* .var-tile-div:hover {
	background-color: #ffccbc;
} */

.simple-var-tile-index-div {
  margin: 0 1%;
  font-size: 10px;
}
.simple-var-tile-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.simple-var-tile-subtext {
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}
