.sub-cat-tile-div{
width: inherit;
background-color: #e0f2f1;
margin: 1px 3% 0 5%;
padding:1% 1%;
text-align: left;
}


.title-div {
	font-size : 0.9rem ;
    margin: 0 0 0 1%;
    font-family: "Open Sans";
    font-weight:600;
}

.sub-title{
text-align: right;
font-size : 0.7rem ;
margin: 0 0 0 1%;
font-weight:300;
color: #c63f17;
}
