.var-tile-div {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  margin: 1px 0;
  padding: 1% 1%;
  align-items: flex-start;
  position: relative;
  text-align: left;
}
.var-tile-div:hover {
  /* box-shadow: 1px 1px 10px 1px #424242, -1px 0 10px 1px #424242; */
  background-color: #e1f5fe;
}

.var-detail-div {
  padding-right: 6%;
}

.var-tile-index-div {
  margin: 0 1%;
  font-size: 15px;
}
.var-tile-title {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.var-tile-subtext {
  font-size: 13px;
  font-weight: 400;
}

.var-data-in-subtext {
  color: #c63f17;
}

.calculate-button {
  background-color: #b2dfdb;
  box-shadow: 1px 1px 2px 1px #e0e0e0, -1px 0 2px 1px #e0e0e0;
  border-radius: 5px;
  /* border: 1px solid #ff7043; */
  padding: 2px;
  align-self: flex-end;
  position: absolute;
  right: 10px;
}

.calculate-button p {
  font-size: 12px;
  font-weight: 600;
}
