.App {
	text-align: center;
}

.App-header {
	background-color: #1b0000;
	margin: 0;
	text-align: left;
}
.App-header p {
	margin: 0;
	font-size: 1.5rem;
	color: #d6cbc7;
	padding: 2% 1%;
}

/* activity.jsx */
.Activity-choice-div {
	margin: 100px;
	text-align: left;
}

input:checked {
	border: 6px solid black;
}

input {
	position: relative;
}

label {
	margin: 0 50px 0 10px;
}
